<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
</head>

<body>
    <header>
        <h3>Logo of website</h3>
        <nav>
            <!-- when you hower over it will show the nav bar so it is not distracting -->
            <ul>
                <li>Link</li>
                <li>Link</li>
                <li>Link</li>

            </ul>

        </nav>
        <h1>Get This Ultimate benifit</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit
            . Distinctio quae, deserunt at, soluta quisquam
            aliquid ducimus fugit fuga culpa provident ullam vero inventore rerum
            sapiente voluptatibus atque autem
            id laboriosam.
        </p>
        <!-- on click  -->
        <!-- or with a link -->
        <a href="#"> <button>CTA</button></a>
        <img src="#" alt="appealing image">

    </header>

    <main>
        <article>
            <h1>Title of the article</h1>
            <!-- one article thats divider in 3 sections -->
            <section>First part</section>
            <section>
                <ul>
                    <li>benifit 1</li>
                    <li>benifit 2</li>
                    <li>benifit 3</li>
                </ul>
            </section>
            <section>Part 3</section>
        </article>
        <aside>
            <form>
                <h3>Title of the form</h3>
                <fieldset>
                    <label>explanation what is needed to be writen</label>
                    <input type="text">
                    <label>explanation what is needed to be writen</label>
                    <input type="text">
                    <label>explanation what is needed to be writen</label>
                    <input type="text">
                    <label>explanation what is needed to be writen</label>
                    <input type="text">

                    <input type="submit">
                </fieldset>
            </form>
        </aside>
        <footer>
            <div>
                <img src="#" alt="customer_photo">
                <p>best reviews of the customers </p>
            </div>
            <div><img src="#" alt="customer_photo">
                <p>best reviews of the customers </p>
            </div>
        </footer>


    </main>







</body>

</html>